.about-us {
  img.banner {
    object-fit: cover;
    position: relative;
  }
  .banner {
    position: relative;
  }

  .section__text > h1 {
    text-align: start;
    margin-bottom: 2rem;
  }

  .feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: var(--background-cream);
    background-image: url("/backgrounds/bg-feedback.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    .feedback__content {
      display: flex;
      gap: 16px;
      text-align: center;
    }

    a {
      text-decoration: none;
    }
  }
}
